<a href="https://colab.research.google.com/github/NafisFuadTanvir/Data-mining-works/blob/main/datapreprocessinglearning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

data= pd.read_csv("/content/gender_wage_gap.csv")
print(data.head())

   year  men_median  men_average  women_median  women_average  \
0  2022       24.91        35.82         20.74          27.86
1  2021       24.93        35.61         21.46          28.28
2  2020       25.95        36.03         21.72          28.75
3  2019       24.04        33.65         20.42          26.83
4  2018       23.42        33.19         19.73          26.21

   white_men_median  white_men_average  black_men_median  black_men_average  \
0             27.11              39.10             20.02              27.43
1             27.76              38.78             20.08              26.88
2             28.36              39.08             20.56              27.40
3             27.39              36.84             19.31              25.18
4             26.79              36.55             18.66              24.67

   hispanic_men_median  hispanic_men_average  white_women_median  \
0                19.99                 26.63               22.47
1                20.20                 26.45               22.76
2                20.41                 27.05               23.05
3                19.39                 25.08               22.01
4                18.77                 24.55               21.75

   white_women_average  black_women_median  black_women_average  \
0                29.50               19.00                23.99
1                29.90               18.85                24.13
2                30.30               19.26                24.87
3                28.41               18.08                23.17
4                28.01               17.34                22.55

   hispanic_women_median  hispanic_women_average
0                  17.54                   22.60
1                  17.77                   22.90
2                  17.55                   23.03
3                  17.08                   21.50
4                  16.24                   20.60

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    50 non-null     int64
 1   men_median              50 non-null     float64
 2   men_average             50 non-null     float64
 3   women_median            50 non-null     float64
 4   women_average           50 non-null     float64
 5   white_men_median        50 non-null     float64
 6   white_men_average       50 non-null     float64
 7   black_men_median        50 non-null     float64
 8   black_men_average       50 non-null     float64
 9   hispanic_men_median     50 non-null     float64
 10  hispanic_men_average    50 non-null     float64
 11  white_women_median      50 non-null     float64
 12  white_women_average     50 non-null     float64
 13  black_women_median      50 non-null     float64
 14  black_women_average     50 non-null     float64
 15  hispanic_women_median   50 non-null     float64
 16  hispanic_women_average  50 non-null     float64
dtypes: float64(16), int64(1)
memory usage: 6.8 KB

In [ ]:
print(data.isnull().sum())

year                      0
men_median                0
men_average               0
women_median              0
women_average             0
white_men_median          0
white_men_average         0
black_men_median          0
black_men_average         0
hispanic_men_median       0
hispanic_men_average      0
white_women_median        0
white_women_average       0
black_women_median        0
black_women_average       0
hispanic_women_median     0
hispanic_women_average    0
dtype: int64